<!DOCTYPE html>
<html>
  <head>
    <title>ScopriRA: scopri Ravenna</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/theme.css">

    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/bundle.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body ng-app="hackinra" ng-controller="MainCtrl">
    <script>
      $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();
      });

    </script>
    <div ng-include="'header.html'"></div>
    <div class="container">

      <div class="row">
         <div class="col s12" style="margin-top: 10px;">
           <ul class="tabs">
             <li class="tab col s3"><a href="#musei">Musei</a></li>
             <li class="tab col s3"><a href="#chiese">Chiese</a></li>
             <li class="tab col s3"><a href="#mosaici">Mosaici</a></li>
             <li class="tab col s3"><a href="#attrazioni">Attrazioni</a></li>
             <li class="tab col s3"><a href="#natura">Natura</a></li>

           </ul>
         </div>

         <!-- start with museo -->
         <div id="musei" class="col s12">
           <div class="row">
             <div class="col s12 m6 l4" ng-repeat="item in musei">
                <div class="card small">
                 <div class="card-image waves-effect waves-block waves-light modal-trigger">
                 <a ng-click="show_modal_id(item._id);">
                   <img style="height: 100%;" src="{{item.properties.foto}}">
                 </a>
                 </div>
                  <div class="card-content">
                   <span class="card-title grey-text text-darken-4">
                      {{item.properties.titolo}}
                    </span>
                  </div>
                 </div>

                 <!-- Modal Structure -->
                 <div id="{{item._id}}" class="modal_edit modal modal-fixed-footer">
                    <div class="modal-content">
                      <h4>{{item.properties.titolo}}</h4>
                      <p>{{item.properties.descrizione}}</p>
                      <div class="row">
                        <img class="col s12 m5 responsive-img" src="{{item.properties.foto}}">
                        <p class="col s12 m3"><b>Indirizzo</b></p>
                        <p class="col s12 m4">{{item.properties.indirizzo}}</p>
                      </div>
                      <div style="text-align: center;">
                        <a class="waves-effect waves-light btn-large" style="align: center;">
                          <i class="material-icons left">navigation</i>Guidami</a>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <a href="{{item.properties.wikipedia}}"><img style="width: 38px; height: 38px;"  src="img/wiki.png"></a>
                      <a href="{{'http://www.google.com/maps/place/'+item.geometry.coordinates[1]+'
                          ,'+item.geometry.coordinates[0]}}"><img style="width: 42px; height: 42px;"
                          src="img/maps.jpg"></a>
                      <a href="{{item.properties.urlScheda}}"><img style="width: 60px; height: 42px;"  src="img/ravenna_turismo.gif"></a>

                      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Esci</a>
                    </div>
                  </div>
               </div>
           </div>
         </div>
         <!-- end museo -->

         <!-- start with chiese -->
         <div id="chiese" class="col s12">
           <div class="row">
             <div class="col s12 m6 l4" ng-repeat="item in chiese">
                <div class="card small">
                 <div class="card-image waves-effect waves-block waves-light modal-trigger">
                 <a ng-click="show_modal_id(item._id);">
                   <img src="{{item.properties.foto}}">
                 </a>
                 </div>
                  <div class="card-content">
                   <span class="card-title grey-text text-darken-4">
                      {{item.properties.titolo}}
                    </span>
                  </div>
                 </div>

                 <!-- Modal Structure -->
                 <div id="{{item._id}}" class="modal_edit modal modal-fixed-footer">
                    <div class="modal-content">
                      <h4>{{item.properties.titolo}}</h4>
                      <p>{{item.properties.descrizione}}</p>
                      <div class="row">
                        <img class="col s12 m5 responsive-img" src="{{item.properties.foto}}">
                        <p class="col s12 m3"><b>Indirizzo</b></p>
                        <p class="col s12 m4">{{item.properties.indirizzo}}</p>
                      </div>
                      <div style="text-align: center;">
                        <a class="waves-effect waves-light btn-large" style="align: center;">
                          <i class="material-icons left">navigation</i>Guidami</a>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <a href="{{item.properties.wikipedia}}"><img style="width: 38px; height: 38px;"  src="img/wiki.png"></a>
                      <a href="{{'http://www.google.com/maps/place/'+item.geometry.coordinates[1]+'
                          ,'+item.geometry.coordinates[0]}}"><img style="width: 42px; height: 42px;"
                          src="img/maps.jpg"></a>
                      <a href="{{item.properties.urlScheda}}"><img style="width: 60px; height: 42px;"  src="img/ravenna_turismo.gif"></a>

                      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Esci</a>
                    </div>
                  </div>
               </div>

           </div>
         </div>
         <!-- end chiese -->

         <!-- start mosaici, essendo questi elementi ripetuti devo aggiungere un token all'index -->
         <div id="mosaici" class="col s12">
           <div class="row">
             <div class="col s12 m6 l4" ng-repeat="item in mosaici | orderBy: 'properties.titolo'">
                <div class="card small">
                 <div class="card-image waves-effect waves-block waves-light modal-trigger">
                 <a ng-click="show_modal_id('mosa'+item._id);">
                   <img style="height: 100%;" src="{{item.properties.foto}}">
                 </a>
                 </div>
                  <div class="card-content">
                   <span class="card-title grey-text text-darken-4">
                      {{item.properties.titolo}}
                    </span>
                  </div>
                 </div>

                 <!-- Modal Structure -->
                 <div id="{{'mosa'+item._id}}" class="modal_edit modal modal-fixed-footer">
                    <div class="modal-content">
                      <h4>{{item.properties.titolo}}</h4>
                      <p>{{item.properties.descrizione}}</p>
                      <div class="row">
                        <img class="col s12 m5 responsive-img" src="{{item.properties.foto}}">
                        <p class="col s12 m3"><b>Indirizzo</b></p>
                        <p class="col s12 m4">{{item.properties.indirizzo}}</p>
                      </div>
                      <div style="text-align: center;">
                        <a class="waves-effect waves-light btn-large" style="align: center;">
                          <i class="material-icons left">navigation</i>Guidami</a>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <a href="{{item.properties.wikipedia}}"><img style="width: 38px; height: 38px;"  src="img/wiki.png"></a>
                      <a href="{{'http://www.google.com/maps/place/'+item.geometry.coordinates[1]+'
                          ,'+item.geometry.coordinates[0]}}"><img style="width: 42px; height: 42px;"
                          src="img/maps.jpg"></a>
                      <a href="{{item.properties.urlScheda}}"><img style="width: 60px; height: 42px;"  src="img/ravenna_turismo.gif"></a>

                      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Esci</a>
                    </div>
                  </div>
               </div>
           </div>
          </div>
         <!-- end mosaici -->

         <!-- start attrazioni -->
         <div id="attrazioni" class="col s12">
           <div class="row">
             <div class="col s12 m6 l4" ng-repeat="item in monumenti">
                <div class="card small">
                 <div class="card-image waves-effect waves-block waves-light modal-trigger">
                 <a ng-click="show_modal_id(item._id);">
                   <img style="height: 100%;" src="{{item.properties.foto}}">
                 </a>
                 </div>
                  <div class="card-content">
                   <span class="card-title grey-text text-darken-4">
                      {{item.properties.titolo}}
                    </span>
                  </div>
                 </div>

                 <!-- Modal Structure -->
                 <div id="{{item._id}}" class="modal_edit modal modal-fixed-footer">
                    <div class="modal-content">
                      <h4>{{item.properties.titolo}}</h4>
                      <p>{{item.properties.descrizione}}</p>
                      <div class="row">
                        <img class="col s12 m5 responsive-img" src="{{item.properties.foto}}">
                        <p class="col s12 m3"><b>Indirizzo</b></p>
                        <p class="col s12 m4">{{item.properties.indirizzo}}</p>
                      </div>
                      <div style="text-align: center;">
                        <a class="waves-effect waves-light btn-large" style="align: center;">
                          <i class="material-icons left">navigation</i>Guidami</a>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <a href="{{item.properties.wikipedia}}"><img style="width: 38px; height: 38px;"  src="img/wiki.png"></a>
                      <a href="{{'http://www.google.com/maps/place/'+item.geometry.coordinates[1]+'
                          ,'+item.geometry.coordinates[0]}}"><img style="width: 42px; height: 42px;"
                          src="img/maps.jpg"></a>
                      <a href="{{item.properties.urlScheda}}"><img style="width: 60px; height: 42px;"  src="img/ravenna_turismo.gif"></a>

                      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Esci</a>
                    </div>
                  </div>
               </div>
           </div>
         </div>
         <!-- end attrazioni -->

         <!-- start natura -->
         <div id="natura" class="col s12">
           <div class="row">
             <div class="col s12 m6 l4" ng-repeat="item in natura">
                <div class="card small">
                 <div class="card-image waves-effect waves-block waves-light modal-trigger">
                 <a ng-click="show_modal_id(item._id);">
                   <img style="height: 100%;" src="{{item.properties.foto}}">
                 </a>
                 </div>
                  <div class="card-content">
                   <span class="card-title grey-text text-darken-4">
                      {{item.properties.titolo}}
                    </span>
                  </div>
                 </div>

                 <!-- Modal Structure -->
                 <div id="{{item._id}}" class="modal_edit modal modal-fixed-footer">
                    <div class="modal-content">
                      <h4>{{item.properties.titolo}}</h4>
                      <p>{{item.properties.descrizione}}</p>
                      <div class="row">
                        <img class="col s12 m5 responsive-img" src="{{item.properties.foto}}">
                        <p class="col s12 m3"><b>Indirizzo</b></p>
                        <p class="col s12 m4">{{item.properties.indirizzo}}</p>
                      </div>
                      <div style="text-align: center;">
                        <a class="waves-effect waves-light btn-large" style="align: center;">
                          <i class="material-icons left">navigation</i>Guidami</a>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <a href="{{item.properties.wikipedia}}"><img style="width: 38px; height: 38px;"  src="img/wiki.png"></a>
                      <a href="{{'http://www.google.com/maps/place/'+item.geometry.coordinates[1]+'
                          ,'+item.geometry.coordinates[0]}}"><img style="width: 42px; height: 42px;"
                          src="img/maps.jpg"></a>
                      <a href="{{item.properties.urlScheda}}"><img style="width: 60px; height: 42px;"  src="img/ravenna_turismo.gif"></a>

                      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Esci</a>
                    </div>
                  </div>
               </div>
           </div>
         </div>
         <!-- end natura -->

       </div>
    </div>

    <div ng-include="'footer.html'"></div>

  </body>
</html>
