<nav>
  <div class="nav-wrapper">
    <div align="center">
      <a href="/" class="brand-logo" style="margin-left: 5px;">
        <img src="/img/logo_ravenna.png" style="display: block; margin: auto -162px auto;" width="162px"/>
      </a>
    </div>
    <!--<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down" >
      <li ng-repeat="item in menu"><a href="{{item.link}}"> {{item.text}} </a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li ng-repeat="item in menu"><a href="{{item.link}}"> {{item.text}} </a></li>
    </ul>-->
  </div>
</nav>
